1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url=' https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [136]:
row1=[]
for i in range(1,31):
    url=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr[{}]/td[1]'.format(i))
    for i in url:
        row1.append(i.text)
        
        
row2=[]
for i in range(1,31):
    url=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr[{}]/td[2]'.format(i))
    for i in url:
        row2.append(i.text)
        
row3=[]
for i in range(1,31):
    url=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr[{}]/td[3]'.format(i))
    for i in url:
        row3.append(i.text)
        
row4=[]
for i in range(1,31):
    url=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr[{}]/td[4]'.format(i))
    for i in url:
        row4.append(i.text)
        
row5=[]
for i in range(1,31):
    url=driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]/tbody/tr[{}]/td[5]'.format(i))
    for i in url:
        row5.append(i.text)

In [145]:
import pandas as pd
top30_youtube=pd.DataFrame({'sr no':row1,'video name':row2,'uploader':row3,'views(billion)':row4,'uploaded date':row5},index=row1,)
top30_youtube

,sr no,video name,uploader,views(billion),uploaded date
1.,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,10.30,"June 17, 2016"
2.,2.,"""Despacito""[6]",Luis Fonsi,7.77,"January 12, 2017"
3.,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,6.22,"October 8, 2016"
4.,4.,"""Shape of You""[13]",Ed Sheeran,5.64,"January 30, 2017"
5.,5.,"""See You Again""[15]",Wiz Khalifa,5.44,"April 6, 2015"
6.,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,5.08,"May 2, 2018"
7.,7.,"""Learning Colors – Colorful Eggs on a Farm""[21]",Miroshka TV,4.56,"February 27, 2018"
8.,8.,"""Phonics Song with Two Words""[22]",ChuChu TV,4.50,"March 6, 2014"
9.,9.,"""Uptown Funk""[23]",Mark Ronson,4.49,"November 19, 2014"
10.,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,4.49,"January 31, 2012"
11.,11.,"""Gangnam Style""[25]",Psy,4.36,"July 15, 2012"
12.,12.,"""Dame Tu Cosita""[30]",El Chombo,3.88,"April 5, 2018"
13.,13.,"""Wheels on the Bus""[31]",Cocomelon – Nursery Rhymes,3.77,"May 24, 2018"
14.,14.,"""Sugar""[32]",Maroon 5,3.66,"January 14, 2015"
15.,15.,"""Roar""[33]",Katy Perry,3.54,"September 5, 2013"
16.,16.,"""Counting Stars""[34]",OneRepublic,3.52,"May 31, 2013"
17.,17.,"""Sorry""[35]",Justin Bieber,3.52,"October 22, 2015"
18.,18.,"""Thinking Out Loud""[36]",Ed Sheeran,3.42,"October 7, 2014"
19.,19.,"""Axel F""[37]",Crazy Frog,3.26,"June 16, 2009"
20.,20.,"""Girls Like You""[38]",Maroon 5,3.25,"May 31, 2018"
21.,21.,"""Faded""[39]",Alan Walker,3.24,"December 3, 2015"
22.,22.,"""Dark Horse""[40]",Katy Perry,3.23,"February 20, 2014"
23.,23.,"""Let Her Go""[41]",Passenger,3.19,"July 25, 2012"
24.,24.,"""Bailando""[42]",Enrique Iglesias,3.17,"April 11, 2014"
25.,25.,"""Lean On""[43]",Major Lazer,3.17,"March 22, 2015"
26.,26.,"""Baa Baa Black Sheep""[44]",Cocomelon – Nursery Rhymes,3.16,"June 25, 2018"
27.,27.,"""Shake It Off""[45]",Taylor Swift,3.15,"August 18, 2014"
28.,28.,"""Perfect""[46]",Ed Sheeran,3.11,"November 9, 2017"
29.,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,3.08,"June 4, 2010"
30.,30.,"""Mi Gente""[48]",J Balvin,3.05,"June 29, 2017"

2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1

st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [109]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [55]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.bcci.tv/'
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [63]:
#clicking on international

more=driver.find_element_by_xpath('/html/body/nav/div/button')
more.click()
time.sleep(3)

In [64]:

international_fixtures=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
international_fixtures.click()
time.sleep(3)

In [71]:
#titles
titles=[]

title=driver.find_elements_by_xpath('//span[@class="ng-binding"]')
for i in title:
    titles.append(i.text)

#dates
dates=[]
date=driver.find_elements_by_xpath('//h5[@class="ng-binding"]')
for i in date:
    dates.append(i.text)
    

#time
time=[]
tim=driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]')
for i in tim:
    time.append(i.text)
    
#venue    
venue=[]
vne=driver.find_elements_by_xpath('//div[@class="fix-place ng-binding ng-scope"]')
for i in vne:
    venue.append(i.text)

In [72]:
import pandas as pd
fixtures=pd.DataFrame({'title':titles,'series&venue':venue,'time':time,'date':dates})
fixtures

,title,series&venue,time,date
0,ICC WOMENS WORLD CUP 2022,"Eden Park, Auckland",6:30 AM IST,19 MAR 2022
1,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton",6:30 AM IST,22 MAR 2022
2,ICC WOMENS WORLD CUP 2022,"Hagley Oval, Christchurch",6:30 AM IST,28 MAR 2022
3,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20I - MA Chidambaram Stadium, Chennai",7:30 PM IST,9 JUN 2022
4,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20I - M Chinnaswamy Stadium, Bengaluru",7:30 PM IST,12 JUN 2022
5,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Vidarbha Cricket Association Stadiu...,7:30 PM IST,14 JUN 2022
6,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I - Saurashtra Cricket Association Stad...,7:30 PM IST,17 JUN 2022
7,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20I - Arun Jaitley Stadium, Delhi",7:30 PM IST,19 JUN 2022

 3. Scrape the details of selenium exception from guru99.com.
 
Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [73]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [101]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.guru99.com/'
driver.get(url)

In [103]:
#click on selenium
selenium=driver.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]/li[3]/a")
selenium.click()

In [104]:
# Scroling page by elements name
time.sleep(4)
element = driver.find_element_by_xpath("//div[@class='entry-content single-content']/table[5]/tbody/tr[34]")
driver.execute_script("return arguments[0].scrollIntoView();", element)

In [105]:
#clicking on Tutotial
Tutotial= driver.find_element_by_xpath("//*[@id='post-193']/div/div/table[5]/tbody/tr[34]/td[1]/a")
Tutotial.click()

In [108]:
exception_name=[]
name= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[1]")
for i in name:
    exception_name.append(i.text)

In [109]:
exception_name

['ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException',
 'NoSuchFrameException',
 'NoAlertPresentException',
 'NoSuchWindowException',
 'StaleElementReferenceException',
 'SessionNotFoundException',
 'TimeoutException',
 'WebDriverException',
 'ConnectionClosedException',
 'ElementClickInterceptedException',
 'ElementNotInteractableException',
 'ErrorInResponseException',
 'ErrorHandler.UnknownServerException',
 'ImeActivationFailedException',
 'ImeNotAvailableException',
 'InsecureCertificateException',
 'InvalidArgumentException',
 'InvalidCookieDomainException',
 'InvalidCoordinatesException',
 'InvalidElementStateExceptio',
 'InvalidSessionIdException',
 'InvalidSwitchToTargetException',
 'JavascriptException',
 'JsonException',
 'NoSuchAttributeException',
 'MoveTargetOutOfBoundsException',
 'NoSuchContextException',
 'NoSuchCookieException',
 'NotFoundException',
 'RemoteDriverServerException',
 'ScreenshotException',
 'SessionNotCreatedException',
 'UnableToSetCookieException',
 'UnexpectedTagNameException',
 'UnhandledAlertException',
 'UnexpectedAlertPresentException',
 'UnknownMethodException',
 'UnreachableBrowserException',
 'UnsupportedCommandException']

In [110]:
description=[]
name= driver.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td[2]")
for i in name:
    description.append(i.text)

description

['This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 'Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.',
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 'It occurs when command can’t be finished when the element is invalid.',
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 'This occurs when remote WebDriver does n’t send valid commands as expected.']

In [111]:
exceptions_df=pd.DataFrame({'exception_names':exception_name,'description':description})
exceptions_df

,exception_names,description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:
A) Rank

B) State

C) GSDP

D) GSDP

E) Share

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [1]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [113]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='http://statisticstimes.com/'
driver.get(url)
time.sleep(4)
driver.maximize_window()

In [114]:
#selecting economy
economy=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/button")
economy.click()

In [115]:
#seecting india
india=driver.find_element_by_xpath("//*[@id='top']/div[2]/div[2]/div/a[3]")
india.click()

In [117]:
#selecting states gdp
states_gdp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
states_gdp.click()

In [123]:
#Rank
col1=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[1]')
for i in url:
    col1.append(i.text)


#states

col2=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[2]')
for i in url:
    col2.append(i.text)


#GSDP 19-20

col3=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[3]')
for i in url:
    col3.append(i.text)


#GSDP 18-19
        
col4=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[4]')
for i in url:
    col4.append(i.text)


#SHARE
        
col5=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[5]')
for i in url:
    col5.append(i.text)


#GDP

col6=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[6]')
for i in url:
    col6.append(i.text)


#GSDP (Cr INR at 2011-12 prices) 19-20

col7=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[7]')
for i in url:
    col7.append(i.text)

#GSDP (Cr INR at 2011-12 prices) 18-19

col8=[]

url=driver.find_elements_by_xpath('//div[@id="table_id_wrapper"]/table/tbody/tr/td[8]')
for i in url:
    col8.append(i.text)

In [124]:
import pandas as pd
GDP=pd.DataFrame({'Rank':col1,'States':col2,'GSDP (Cr INR at Current prices) 19-20':col3,'GSDP (Cr INR at Current prices) 18-19':col4,'Share':col5,'GDP':col6,'GSDP (Cr INR at 2011-12 prices)19-20':col7,'GSDP (Cr INR at 2011-12 prices)18-19':col8})
GDP

,Rank,States,GSDP (Cr INR at Current prices) 19-20,GSDP (Cr INR at Current prices) 18-19,Share,GDP,GSDP (Cr INR at 2011-12 prices)19-20,GSDP (Cr INR at 2011-12 prices)18-19
0,1,Maharashtra,-,"2,632,792",13.94%,399.921,-,"2,039,074"
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629,"1,312,929","1,215,307"
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726,"1,166,817","1,123,982"
3,4,Gujarat,-,"1,502,899",7.96%,228.290,-,"1,186,379"
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806,"1,156,039","1,091,077"
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556,"793,223","739,525"
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179,"711,627","677,428"
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083,"672,018","621,301"
8,9,Telangana,"969,604","861,031",4.56%,130.791,"663,258","612,828"
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977,"561,801","522,009"
10,11,Kerala,-,"781,653",4.14%,118.733,-,"559,412"
11,12,Delhi,"856,112","774,870",4.10%,117.703,"634,408","590,569"
12,13,Haryana,"831,610","734,163",3.89%,111.519,"572,240","531,085"
13,14,Bihar,"611,804","530,363",2.81%,80.562,"414,977","375,651"
14,15,Punjab,"574,760","526,376",2.79%,79.957,"418,868","397,669"
15,16,Odisha,"521,275","487,805",2.58%,74.098,"396,499","376,877"
16,17,Assam,-,"315,881",1.67%,47.982,-,"234,048"
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187,"243,477","231,182"
18,19,Jharkhand,"328,598","297,204",1.57%,45.145,"240,036","224,986"
19,20,Uttarakhand,-,"245,895",1.30%,37.351,-,"193,273"
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690,-,"112,755"
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369,"124,403","117,851"
22,23,Goa,"80,449","73,170",0.39%,11.115,"63,408","57,787"
23,24,Tripura,"55,984","49,845",0.26%,7.571,"40,583","36,963"
24,25,Chandigarh,-,"42,114",0.22%,6.397,-,"31,192"
25,26,Puducherry,"38,253","34,433",0.18%,5.230,"25,093","23,013"
26,27,Meghalaya,"36,572","33,481",0.18%,5.086,"26,695","24,682"
27,28,Sikkim,"32,496","28,723",0.15%,4.363,"20,017","18,722"
28,29,Manipur,"31,790","27,870",0.15%,4.233,"20,673","19,300"
29,30,Nagaland,-,"27,283",0.14%,4.144,-,"17,647"
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737,-,"16,676"
31,32,Mizoram,"26,503","22,287",0.12%,3.385,"18,797","16,478"
32,33,Andaman & Nicobar Islands,-,-,-,-,-,-

5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [ ]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [186]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://github.com/'
driver.get(url)

In [190]:
#click on explore
exp=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/button')

In [191]:
exp.click()

In [193]:
#click on explore github
explore=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore.click()

In [195]:
#click on explore git hub
explo_github=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[1]/a')
explo_github.click()

In [198]:
#click on trending
trending=driver.find_element_by_xpath('/html/body/div[4]/main/div[1]/nav/div/a[3]')
trending.click()

In [199]:
#titles

title=[]
titl=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in titl:
    title.append(i.text)
    
len(title)

25

In [200]:
url=[]

ur=driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]//a')

for i in ur:                   
    url.append(i.get_attribute('href'))
    
len(url)

25

In [201]:
language=[]

for i in url:
    driver.get(i)
    try:
        lng=driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[3]/div[2]/div/div[5]/div/ul/li/a/span[1]')
        language.append(lng.text)
    except NoSuchElementException:
        language.append('-')

In [204]:
len(language)

25

In [205]:
contributers=[]

for i in url:
    driver.get(i)
    try:
        ctbrtrs=driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[3]/div[2]/div/div[4]/div/h2/a/span')
        contributers.append(ctbrtrs.text)
    except NoSuchElementException:
        contributers.append('-')

In [208]:
len(contributers)

25

In [209]:
description=[]
for i in url:
    driver.get(i)
    try:
        dsrtn=driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[3]/div[2]/div/div[1]/div/p')
        description.append(dsrtn.text)
    except NoSuchElementException:
        description.append('-')

In [211]:
len(description)

25

In [213]:
import pandas as pd 
github_data=pd.DataFrame({'title of the repositry':title,'language':language,'contributers':contributers,'description':description})

In [214]:
github_data

,title of the repositry,language,contributers,description
0,ErickWendel / semana-javascript-expert06,JavaScript,2,Todas as aulas da Semana JS Expert 6.0 - Spoti...
1,psf / black,Python,311,The uncompromising Python code formatter
2,sindresorhus / awesome,-,518,😎 Awesome lists about all kinds of interesting...
3,peng-zhihui / Dummy-Robot,C,-,我的超迷你机械臂机器人项目。
4,DulLabs / bhai-lang,-,3,A toy programming language written in Typescript
5,ErickWendel / semanajsexpert-spotify-template,-,-,Layout inicial da SemanaJSExpert 06
6,scottbez1 / smartknob,C++,-,Haptic input knob with software-defined endsto...
7,Frontesque / VueTube,Vue,6,A simple FOSS video streaming client aimed to ...
8,MichaelCade / 90DaysOfDevOps,-,-,This repository is my documenting repository f...
9,jackfrued / Python-100-Days,-,-,Python - 100天从新手到大师
10,LukeMathWalker / zero-to-production,-,-,"Code to follow along the ""Zero To Production"" ..."
11,AmruthPillai / Reactive-Resume,-,1,A one-of-a-kind resume builder that keeps your...
12,peng-zhihui / ElectronBot,-,-,-
13,freefq / free,-,-,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/v2ray/trojan节点、蓝...
14,YTVanced / VancedManager,-,-,-
15,Developer-Y / cs-video-courses,-,-,List of Computer Science courses with video le...
16,aws-samples / aws-security-reference-architect...,Python,3,Example solutions demonstrating how to impleme...
17,TarlogicSecurity / PLCTool,-,-,-
18,TeamNewPipe / NewPipe,Java,662,A libre lightweight streaming front-end for An...
19,libre-tube / LibreTube,-,-,"An alternative frontend for YouTube, for Andro..."
20,YTVanced / VancedStore,-,-,General Application Store with support for roo...
21,Asabeneh / 30-Days-Of-JavaScript,JavaScript,-,30 days of JavaScript programming challenge is...
22,dortania / OpenCore-Legacy-Patcher,-,-,Experience macOS just like before
23,ReactiveX / RxSwift,-,322,Reactive Programming in Swift
24,AlexisAhmed / CVE-2022-0847-DirtyPipe-Exploits,C,-,A collection of exploits and documentation tha...

6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')
time.sleep(4)

url="https://www.billboard.com/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [3]:
more=driver.find_element_by_xpath('/html/body/div[4]/header/div[1]/div/div/div[1]/button')
more.click()

In [4]:
charts=driver.find_element_by_xpath('/html/body/div[4]/div[6]/div/div/div/ul/li[1]/h3/a')
charts.click()

In [6]:
view_charts=driver.find_element_by_xpath('/html/body/div[4]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view_charts.click()

In [7]:
#Scraping all rows data
Song_name=[]
name=[]
song_name= driver.find_elements_by_xpath('//div[@class="o-chart-results-list-row-container"]')
for i in song_name:
        Song_name.append(i.text)

In [9]:
len(Song_name)

100

In [13]:
#by uisng slicing for seperating particular data 
song_names=[i.split('\n',2)[1] for i in Song_name]
artist=[i.split('\n',3)[2] for i in Song_name]
lastweek_rank=[i.split('\n',4)[3] for i in Song_name]
peak_rank=[i.split('\n',5)[4] for i in Song_name]
weeks_on_rank=[i.split('\n',5)[5] for i in Song_name]

In [14]:
import pandas as pd
billboard_data=pd.DataFrame({'song name':song_names,'artist':artist,'last week rank':lastweek_rank,'peak rank':peak_rank,'weks on rank':weeks_on_rank})
billboard_data

,song name,artist,last week rank,peak rank,weks on rank
0,Heat Waves,Glass Animals,1,1,60
1,We Don't Talk About Bruno,"Carolina Gaitan, Mauro Castillo, Adassa, Rhenz...",2,1,11
2,Super Gremlin,Kodak Black,4,3,18
3,abcdefu,GAYLE,3,3,16
4,Stay,The Kid LAROI & Justin Bieber,5,1,35
...,...,...,...,...,...
95,NEW,Evil Twins,King Von & Lil Durk,-,96\n1
96,NEW,Trust Nothing,King Von Featuring Moneybagg Yo,-,97\n1
97,Iffy,Chris Brown,92,71,8
98,Closer,Saweetie Featuring H.E.R.,98,89,4
99,When I'm Gone,Alesso / Katy Perry,91,90,4

7.Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and

click on search. All this should be done through code

In [47]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')
time.sleep(4)

url="https://www.naukri.com/naukri-dot-com-recruiters"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [50]:
search=driver.find_element_by_xpath('//input[@class="sugInp"]')
search.send_keys('Data Science')

In [51]:
search_button=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
search_button.click()

In [54]:
#name of the recruiter
name=[]
nme=driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for i in nme:
    if i is None:
        name.append('-')
    else:
        name.append(i.text)
        
#designation
designation=[]
desgn=driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for i in desgn:
    if i is None:
        designation.append('-')
    else:
        designation.append(i.text)

        
#skills require
skills=[]
skill=driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for i in skill:
    if i is None:
        skills.append('-')
    else:
        skills.append(i.text)
        
#urls
urls=[]
url=driver.find_elements_by_xpath('//div[@class="recImg mid_pImg_Silht"]/a')
for i in url:
    urls.append(i.get_attribute('href'))
    
#company    
company=[]
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        cmpny=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[4]/a')
        company.append(cmpny.text)
    except NoSuchElementException:
        company.append('-')
        


#location by using url
location=[]
for i in urls:
    driver.get(i)
    time.sleep(2)
    try:
        lctn=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a')
        location.append(lctn.text)
    except NoSuchElementException:
        location.append('-')

In [55]:
import pandas as pd
naukri_data=pd.DataFrame({'name of the recruiter':name,'designation':designation,'company':company,'skills they require':skills,'location':location})
naukri_data

,name of the recruiter,designation,company,skills they require,location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
20,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
21,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
22,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,"Corporate Sales, Software Development, Softwar...",Delhi
23,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
24,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
30,Rajat Kumar,Founder CEO,R.S Consultancy & Services,"Web Technologies, Project Management, Software...",Delhi
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Hyderabad / Secunderabad
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research & Consulting Co. India,"Relationship Management, Retail Sales, Private...",Aligarh
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
48,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
49,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Hyderabad / Secunderabad

8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
You have to find the following details:
    
A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [222]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')
time.sleep(4)

url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [227]:
book_name=[]
# Scraping Book_name
Book_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[2]")
for i in Book_name:
    if i.text is None:
        book_name.append('--')
    else:
        book_name.append(i.text)
        
#author name
Author_name=[]
author_name=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[3]")
for i in author_name:
    if i.text is None:
        Author_name.append('--')
    else:
        Author_name.append(i.text)
        
#valumes sold
valumes_sold=[]
valumes=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[4]")
for i in valumes:
    if i.text is None:
        valumes_sold.append('--')
    else:
        valumes_sold.append(i.text)
        
#publisher
Publisher=[]
publisher=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[5]")
for i in publisher:
    if i.text is None:
        Publisher.append('--')
    else:
        Publisher.append(i.text)
        
#genre
genre=[]
Genre=driver.find_elements_by_xpath("//table[@class='in-article sortable']/tbody/tr/td[6]")
for i in Genre:
    if i.text is None:
        genre.append('--')
    else:
        genre.append(i.text)

In [228]:
theguardian=pd.DataFrame({'book name':book_name,'author name':Author_name,'valumes_sold':valumes_sold,'publisher':Publisher,'genre':genre})
theguardian

,book name,author name,valumes_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [229]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')
time.sleep(4)

url="https://www.imdb.com/list/ls095964455/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [233]:
#Scraping Name
names=[]
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    names.append(i.text)
    
#year span
year=[]
Year=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
for i in Year:
    year.append(i.text)
    
#genre
Genre=[]
genre=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
for i in genre:
    Genre.append(i.text)
    
#run time
Run_time=[]
run=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
for i in run:
    Run_time.append(i.text)
    
    
#ratings
Ratings=[]
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
for i in rating:
    Ratings.append(i.text)

#votes
votes=[]
vote=driver.find_elements_by_xpath("//p[@class='text-muted text-small'][3]/span[2]")
for i in vote:
    votes.append(i.text)

In [235]:
IMBD_MOST_Watched=pd.DataFrame({'name':names,'year':year,'genre':Genre,'run time':Run_time,'Ratings':Ratings,'votes':votes})
IMBD_MOST_Watched

,name,year,genre,run time,Ratings,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,964,697"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"972,548"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.3,"935,931"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"279,998"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.7,"240,119"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.6,"48,029"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"58,732"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.2,"186,777"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"39,577"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"223,351"

10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [236]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')
time.sleep(4)

url="https://archive.ics.uci.edu/"
driver.get(url)
time.sleep(6)
driver.maximize_window()

In [237]:
view_all_data=driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a')
view_all_data.click()

In [261]:
#name
names=[]
name=driver.find_elements_by_xpath('//p[@class="normal"]/b/a[1]')
for i in name:
    if i.text is None:
        names.append('-')
    else:
        names.append(i.text)

#type of data        
Types=[]
types=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p")
for i in types:
    if i.text is None:
        Types.append('-')
    else:
        Types.append(i.text)
        
#task    
Task=[]
task=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p")
for i in task:
    if i.text is None:
        Task.append('-')
    else:
        Task.append(i.text)
        
#attribute type        
attribute=[]
attr=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p")
for i in attr:
    if i.text is None:
        attribute.append('-')
    else:
        attribute.append(i.text)
        
#no of instances        
instances=[]
insts=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p")
for i in insts:
    if i.text is None:
        instances.append('-')
    else:
        instances.append(i.text)
        
#no of attribute
no_of_attributes=[]
n_attr=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p")
for i in n_attr:
    if i.text is None:
        no_of_attributes.append('-')
    else:
        no_of_attributes.append(i.text)
        
        
        
#year       
year=[]
yr=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[7]/p")
for i in yr:
    if i.text is None:
        year.append('-')
    else:
        year.append(i.text)

In [264]:
len(Types)

622

In [263]:
#removing heading 
del Types[0]

del Task[0]

del attribute[0]

del instances[0]

del no_of_attributes[0]

del year[0]

In [265]:
data_sets=pd.DataFrame({'Dataset name':names,'Data type':Types,'Task':Task,'Attribute type':attribute,' No of instances':instances,'No of attribute':no_of_attributes,'year':year})
data_sets

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021