In [1]:
import selenium
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [3]:
url='https://www.naukri.com/'
driver.get(url)

In [4]:
#finding web element for search job bar by using class name
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [65]:
#write on search bar
search_job.send_keys('data Analyst')

In [6]:
#find web element for search loc bar using absolute xpath
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [67]:
#finding web element for job location
search_loc.send_keys('Bangalore')

In [8]:
#clicking using class name function
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn

In [69]:
search_btn.click()

In [70]:
#job titles 
job_titls=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_titls)

20

In [91]:
#insert job titles into list
job_title=[]

for i in job_titls:
    job_title.append(i.text)

job_title

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Job Opportunity with Leading MNC - Senior Data Analyst',
 'Insights Data analyst',
 'Data Analyst',
 'Business Analyst (Data Analyst)',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Information Manager & Data Analyst',
 'Data Analyst',
 'Data Analyst (Python, SQL, Excel)',
 'Professional 2 Data Analyst',
 'Data Analyst - 3rd Party',
 'Data Analyst',
 'Business Data Analyst',
 'Business Data Analyst']

In [93]:
title=job_title[0:10]
title

['Hiring -Data Analyst, Business Analyst, MIS Analyst -3rd Party Payroll',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'Job Opportunity with Leading MNC - Senior Data Analyst',
 'Insights Data analyst',
 'Data Analyst',
 'Business Analyst (Data Analyst)',
 'Business Analyst/ Data Analyst- Capital Market & SQL (Mandatory)',
 'Senior Data Analyst',
 'Data Analyst']

In [94]:
#location
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

locations=[]

for i in location:
    locations.append(i.text)
    
locations

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Pune, Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [95]:
location=locations[0:10]

location

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru, Delhi / NCR',
 'Pune, Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru']

In [96]:
#name of the company
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

company_name=[]

for i in company:
    company_name.append(i.text)
    
company_name

['Flipkart',
 'SHAND PIPE INDUSTRY PVT.LTD',
 'THBS',
 'Enrich and Enlight',
 'Tide Software',
 'Shell',
 'Genpact',
 'Genpact',
 'Liventus Technology Services',
 'McAfee',
 'Ensar Solutions Pvt Ltd',
 'Optum',
 'Ericsson Global Services',
 'IBM',
 'Flipkart',
 'DXC Technology',
 'Flipkart',
 'Flipkart',
 'Multi Recruit',
 'Multi Recruit']

In [97]:
compny_name=company_name[0:10]
compny_name

['Flipkart',
 'SHAND PIPE INDUSTRY PVT.LTD',
 'THBS',
 'Enrich and Enlight',
 'Tide Software',
 'Shell',
 'Genpact',
 'Genpact',
 'Liventus Technology Services',
 'McAfee']

In [79]:
#experience
experience=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
len(experience)

20

In [85]:
experience[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="0b1ecdd7-6dfd-4dee-8a7a-657c6a42ccd5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="1ed319dd-02f1-4d36-a2ad-187502d7f987")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="e26728a9-432d-4365-a735-bda34b29321c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="bbc48ea9-9ae0-4bfb-9a3a-98dd3066cc98")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="3cc34527-a233-4abf-8a49-0f8a183cd047")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="a1f4db9f-9b12-4a83-ae17-0d3fb93b3185")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="d0340404-d01c-4ae9-b36c-81bb3b2db6e3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="0023f771-300d-4a4c-bdcd-ac9fe4a87329")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="270399a8-b4c4-429b-8c22-ea43992366d1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="179836bf-63a8-43e3-9cdc-40ea03ba2cfe")>]

In [98]:
exprnc=[]

for i in experience:
    exprnc.append(i.text)
    
experience_yrs=exprnc[0:10]

experience_yrs

['1-6 Yrs',
 '2-6 Yrs',
 '1-4 Yrs',
 '5-7 Yrs',
 '0-4 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '7-12 Yrs',
 '5-8 Yrs',
 '2-7 Yrs']

In [99]:
import pandas as pd
df=pd.DataFrame({'job title':title,'job location':location,'name of the company':compny_name,'years of experience':experience_yrs})
df

,job title,job location,name of the company,years of experience
0,"Hiring -Data Analyst, Business Analyst, MIS An...",Bangalore/Bengaluru,Flipkart,1-6 Yrs
1,Business Data Analyst - MIS & Reporting,Bangalore/Bengaluru,SHAND PIPE INDUSTRY PVT.LTD,2-6 Yrs
2,Data Analyst,Bangalore/Bengaluru,THBS,1-4 Yrs
3,Job Opportunity with Leading MNC - Senior Data...,Bangalore/Bengaluru,Enrich and Enlight,5-7 Yrs
4,Insights Data analyst,Bangalore/Bengaluru,Tide Software,0-4 Yrs
5,Data Analyst,Bangalore/Bengaluru,Shell,5-8 Yrs
6,Business Analyst (Data Analyst),"Hyderabad/Secunderabad, Bangalore/Bengaluru, D...",Genpact,6-10 Yrs
7,Business Analyst/ Data Analyst- Capital Market...,"Pune, Bangalore/Bengaluru",Genpact,7-12 Yrs
8,Senior Data Analyst,Remote,Liventus Technology Services,5-8 Yrs
9,Data Analyst,Bangalore/Bengaluru,McAfee,2-7 Yrs

# 2) python program for scraping data(1st 10) from 'https://www.naukri.com/',data scientist,location Bengalore

In [100]:
url='https://www.naukri.com/'
driver.get(url)

In [117]:
#find element job on search bar
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [118]:
search_job.send_keys('Data scientist')

In [119]:
#find element locaiton on search bar
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_loc

In [120]:
search_loc.send_keys('Bangalore')

In [121]:
#clicking using class name function
search_btn=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_btn

In [122]:
search_btn.click()

In [126]:
#job titles
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_title

[<selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="1cd07e66-1511-423e-8ab8-4ee443234662")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="26e4a2fc-bda2-40ec-8f54-b5f70d389380")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="51f74626-37b7-4cff-9cfc-75ae7c50798f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="0b12a7a0-4a4f-4ba2-a9a2-81b42debe0e6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="052a3d8c-d2f0-4f48-bc5a-45e955b63916")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="1b3b1bf1-dbd0-4d2d-b771-19d3c6d9fa11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="d906493b-e0b9-4133-9f76-97f07c17e505")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="011c07fd-d9e6-422b-a7e8-86ac527a6ed6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="e564fa84-5cdc-46da-abf6-a95aa0e0f171")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="40b653fd-6f7b-4d79-9cbf-e7a88f50e31b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="1b4e57c8-5d81-4307-bc5d-dd24c9a480b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="788f0f7a-7e99-42de-9b33-17846e0295fd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="395898e3-824a-4d4f-b838-6674f5fd3999")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="36cdf051-2719-4d33-a8c2-cad23b69dc90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="503d7c07-30a6-465a-b138-cebdc2c0550c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="8d3e80fd-4663-47de-a7ea-cafa7c0bd927")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="db4b66b0-6627-45db-8675-a15bcd4a6bf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="48ad5737-79f4-4c23-8d5b-334334a48217")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="c9ee3311-7aee-4f65-a9f1-63a00654c27f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="2f76d175-1e64-43e9-864d-eebfa1182bd8")>]

In [127]:
jb_title=[]

for i in job_title:
    jb_title.append(i.text)
    
jb_titles=jb_title[0:10]

jb_titles

['Senior Data Scientist',
 'Data Scientist - Lead / Architect - Looking For Early Joiners - Wipro',
 'Lead Data Scientist',
 'Associate Data Scientist',
 'Senior Data Scientist with Pyspark and Databricks German MNC',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Spark ML Data Scientist',
 'Data Scientist - Tableau / Python / Hadoop']

In [128]:
#location
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location

[<selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="02af0f7b-7a60-47b7-a66e-01b3198b800d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="eca4b23e-5df1-4aa9-a788-639c81d38f39")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="da8cb936-4011-460d-8921-805a53a92cac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="05326dc9-3187-48fc-b010-49e8c777f8c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="55f3680c-0bca-4faa-8b78-50f34fcb491f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="a16a663a-1730-479b-9f6a-4f5f2120273b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="972416a8-65d2-4665-a9ea-de637982faa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="6bb6f162-ce5b-4a84-9ce0-f8e80310c586")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="761f81b6-078f-4673-8662-0510dc8f5dc2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="47c1facc-6110-4c7b-a067-3ad983b570ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="59150562-4baa-47b0-8689-b5ef48709ba5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="212a39c6-7802-469d-bf9f-a5ad19a7cc57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="a24bdfc4-2e00-4d5e-92fd-9a12b154d172")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="fe391e6e-3035-49c4-9d74-b68b5283ca9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="2988794b-dbe3-4762-9177-4ed3aec16596")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="bcf5c31e-ad0b-4a1e-ac91-3870f7bfd3f5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="095aea83-8480-4067-95bb-7346b6e91c1e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="19411b2b-7b19-4779-9025-ca389b4412af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="7d3055c6-5e74-40e9-88da-20aba250affd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="058d1418-6a7e-4a4d-8367-412d5fdcaf50")>]

In [129]:
locations=[]

for i in location:
    locations.append(i.text)
    
locatin=locations[0:10]

locatin

['Bangalore/Bengaluru',
 'Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram, Chennai, Coimbatore, Bangalore/Bengaluru, Mumbai (All Areas), Hyderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Pune\n(WFH during Covid)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru']

In [130]:
#company name
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company

[<selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="63d29ed8-90f6-4003-8073-6f2c51fe9ba0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="ace37b21-5382-454a-808e-ad4ea9be1b73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="ef551ae8-0b5f-4032-8b3a-b4f308105b9e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="1114f57d-74a9-4be7-8b14-ed0b681d5846")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="b85f50a0-6efb-480c-8fa0-cbcd3e70c3bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="c154ef15-3f70-4844-9c49-87620a34584b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="aa81528e-d69f-41e7-beeb-1b795bc2e896")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="fd27c74c-5b83-4a4c-8127-fe81572f6c45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="b5296fa0-3522-454f-8bb1-fee0efb2a207")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="d016db0f-6c8e-455f-abec-797f8aa016fc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="f9095258-c7a7-4378-aeb7-905ad0b17054")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="e35e20ff-497d-4665-97f6-cff8e0d1a7a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="6b45acc0-dd25-4b75-8951-c6c0b482f891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="777f2f92-d3cf-456a-9744-a9b384aa3e57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="578eac22-a830-4818-b565-aa086f164951")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="dae5dbc3-2112-4d52-80c3-96fb4042c058")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="f280d67b-7482-43f4-ba52-19c2cad82fb4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="a46a578f-79d7-45f7-9a22-91933a50bd4d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="ef3f7859-d027-4259-9342-16a5c2acb3ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7be2060f9d2087a62c76266c3cc12545", element="5d6311cc-e549-491d-9a13-2c5c6ddf3009")>]

In [132]:
company_name=[]

for i in company:
    company_name.append(i.text)
    
cmpny_name=company_name[0:10]
cmpny_name

['Microsoft',
 'Wipro',
 'Societe Generale',
 'Synechron',
 'Valuable Consulting',
 'Search Advisers Services ( GUJ ) Pvt. Ltd.',
 'Search Advisers Services ( GUJ ) Pvt. Ltd.',
 'IBM',
 'Wipro',
 'CliqHR Recruitment Services']

In [133]:
df=pd.DataFrame({'job title':jb_titles,'location':locatin,'company_name':cmpny_name})
df

,job title,location,company_name
0,Senior Data Scientist,Bangalore/Bengaluru,Microsoft
1,Data Scientist - Lead / Architect - Looking Fo...,"Kochi/Cochin, Kolkata, Pune, Gurgaon/Gurugram,...",Wipro
2,Lead Data Scientist,Bangalore/Bengaluru,Societe Generale
3,Associate Data Scientist,Bangalore/Bengaluru\n(WFH during Covid),Synechron
4,Senior Data Scientist with Pyspark and Databri...,Bangalore/Bengaluru,Valuable Consulting
5,Senior Data Scientist,Bangalore/Bengaluru,Search Advisers Services ( GUJ ) Pvt. Ltd.
6,Senior Data Scientist,Bangalore/Bengaluru,Search Advisers Services ( GUJ ) Pvt. Ltd.
7,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM
8,Spark ML Data Scientist,"Bangalore/Bengaluru, Pune\n(WFH during Covid)",Wipro
9,Data Scientist - Tableau / Python / Hadoop,"Hyderabad/Secunderabad, Bangalore/Bengaluru",CliqHR Recruitment Services

# 3) python programe to scrap first 10 elements (job-title=data scientist,location=delhi/ncr,salary=3-6 lakhs)

In [5]:
search_job.send_keys('Data scientist')

In [10]:
#location using filters
location=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/i')
location

In [11]:
location.click()

In [12]:
#using filters for salary using absolute xpath
salary=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')
salary

In [13]:
salary.click()

In [14]:
#job titles 
job_titls=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(job_titls)

20

In [15]:
job_titles=[]

for i in job_titls:
    job_titles.append(i.text)
    
titles=job_titles[0:10]

titles

['Data Scientist II',
 'Opening For Data Scientist',
 'Data Scientist',
 'Lead Data Scientist - KYC/Fraud/Marketing',
 'Junior Data Scientist - Goods & Service Tax Network, Delhi',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Associate Data Scientist - Java/ Scala/ Apache Server',
 'Data Scientist',
 'Data Scientist (ML AI Engineer) / InfoObjects Inc.',
 'Data Scientist']

In [19]:
#location
location=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
len(location)

20

In [20]:
locations=[]

for i in location:
    locations.append(i.text)
    
loctins=locations[0:10]

loctins

['Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida',
 'New Delhi',
 'Delhi / NCR',
 'Noida, New Delhi, Delhi / NCR',
 'Noida',
 'Gurgaon/Gurugram\n(WFH during Covid)',
 'Indore, Jaipur, Delhi / NCR\n(WFH during Covid)',
 'New Delhi']

In [21]:
#company name
company=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(company)

20

In [24]:
company_name=[]

for i in company:
    company_name.append(i.text)

In [26]:
cmpny_name=company_name[0:10]
cmpny_name

['Chegg',
 'Care Health Insurance',
 'Stefanini',
 'Tide Software',
 'NISG (National Institute for Smart Government)',
 'GABA Consultancy services',
 'Smart work Consultants',
 'Zekardo Automotive Solutions',
 'INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED',
 'Team Computers Pvt Ltd']

In [30]:
#scrap experience using contains method 
exprn=driver.find_elements_by_xpath('//*[contains(@title,"Yrs")]')
len(exprn)

20

In [33]:
experience=[]

for i in exprn:
    experience.append(i.text)
    
expnc=experience[0:10]

expnc

['2-6 Yrs',
 '1-5 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '0-0 Yrs',
 '1-4 Yrs',
 '5-8 Yrs',
 '3-7 Yrs',
 '2-6 Yrs']

In [34]:
import pandas as pd
df=pd.DataFrame({'job title':titles,'job location':loctins,'experience':expnc,'company_name':cmpny_name})
df

,job title,job location,experience,company_name
0,Data Scientist II,Delhi / NCR,2-6 Yrs,Chegg
1,Opening For Data Scientist,Gurgaon/Gurugram,1-5 Yrs,Care Health Insurance
2,Data Scientist,Noida,3-8 Yrs,Stefanini
3,Lead Data Scientist - KYC/Fraud/Marketing,New Delhi,1-6 Yrs,Tide Software
4,Junior Data Scientist - Goods & Service Tax Ne...,Delhi / NCR,3-8 Yrs,NISG (National Institute for Smart Government)
5,Data Analyst / Data Scientist / Business Analy...,"Noida, New Delhi, Delhi / NCR",0-0 Yrs,GABA Consultancy services
6,Associate Data Scientist - Java/ Scala/ Apache...,Noida,1-4 Yrs,Smart work Consultants
7,Data Scientist,Gurgaon/Gurugram\n(WFH during Covid),5-8 Yrs,Zekardo Automotive Solutions
8,Data Scientist (ML AI Engineer) / InfoObjects ...,"Indore, Jaipur, Delhi / NCR\n(WFH during Covid)",3-7 Yrs,INFOOBJECTS SOFTWARE ( INDIA) PRIVATE LIMITED
9,Data Scientist,New Delhi,2-6 Yrs,Team Computers Pvt Ltd

# 4)scrap data from flipkart for sunglasses data of 100 products (product,description of product and price)

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [3]:
url='https://www.flipkart.com/'
driver.get(url)

In [4]:
#find element for search bar for product name by xpath
search_prdct=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_prdct

In [5]:
search_prdct.send_keys('sunglasses')

In [6]:
#find element for clicking on search button 
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
search_btn

In [8]:
search_btn.click()

In [58]:
#product name in first page
product_name1=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(product_name1)

40

In [59]:
products_name=[]

for i in product_name1:
    products_name.append(i.text)
    
products_name

['VINCENT CHASE',
 'VILLAIN',
 'Elligator',
 'SUNBEE',
 'SHAAH COLLECTIONS',
 'SRPM',
 'New Specs',
 'VINCENT CHASE',
 'Fastrack',
 'Johaena',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'SUNBEE',
 'kingsunglasses',
 'Elligator',
 'ROZZETTA CRAFT',
 'PIRASO',
 'PIRASO',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'PHENOMENAL',
 'Johaena',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'Fastrack',
 'PHENOMENAL',
 'VINCENT CHASE',
 'PHENOMENAL',
 'GANSTA',
 'Rich Club',
 'VILLAIN',
 'Rich Club',
 'Singco India',
 'kingsunglasses',
 'VINCENT CHASE',
 'Elligator',
 'Elligator',
 'SUNBEE',
 'ROZZETTA CRAFT']

In [60]:
#product name in 2nd page
product_name2=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(product_name2)

40

In [61]:
products_name2=[]

for i in product_name2:
    products_name2.append(i.text)
    
products_name2

['Elligator',
 'SRPM',
 'DEIXELS',
 'ROZZETTA CRAFT',
 'PIRASO',
 'maxa',
 'PIRASO',
 'AISLIN',
 'kingsunglasses',
 'agera',
 'Singco India',
 'ROYAL SON',
 'ROYAL SON',
 'PHENOMENAL',
 'New Specs',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'kingsunglasses',
 'ROYAL SON',
 'VINCENT CHASE',
 'Lee Topper',
 'Elligator',
 'Silver Kartz',
 'AISLIN',
 'DEIXELS',
 'Silver Kartz',
 'kingsunglasses',
 'AISLIN',
 'PIRASO',
 'New Specs',
 'Lee Topper',
 'ROZZETTA CRAFT',
 'Lee Topper',
 'ROYAL SON',
 'Singco India',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'hipe',
 'Fastrack',
 'Poloport']

In [62]:
#3rd page
product_name3=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')


products_name3=[]

for i in product_name3:
    products_name3.append(i.text)
    
name3=products_name3[0:20]

name3

['New Specs',
 'hipe',
 'Fastrack',
 'AISLIN',
 'PHENOMENAL',
 'New Specs',
 'ROYAL SON',
 'Sewell',
 'kingsunglasses',
 'VILLAIN',
 'PHENOMENAL',
 'VINCENT CHASE',
 'Rich Club',
 'hipe',
 'SRPM',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'New Specs',
 'ROYAL SON']

In [63]:
names=products_name+products_name2+name3

len(names)

100

In [26]:
#description of the product
descrptn=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(descrptn)

40

In [32]:
#description in 2nd page
description=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(description)

40

In [37]:
#description in 3rd page
descrptn3=driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(descrptn3)
description3=descrptn3[0:20]
len(description3)

20

In [27]:
#100 products description 
prd_desrptn=[]

for i in descrptn:
    prd_desrptn.append(i.text)

In [28]:
len(prd_desrptn)

40

In [34]:
prd_desrptn2=[]

for i in description:
    prd_desrptn2.append(i.text)
    
len(prd_desrptn2)

40

In [38]:
prd_desrptn3=[]

for i in description3:
    prd_desrptn3.append(i.text)
    
len(prd_desrptn3)

20

In [39]:
#product description(adding all the lists)
description=prd_desrptn+prd_desrptn2+prd_desrptn3
len(description)

100

In [42]:
#price of the prodct
price=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(price)

40

In [43]:
price1=[]

for i in price:
    price1.append(i.text)
price1

['799',
 '1,533',
 '248',
 '243',
 '165',
 '188',
 '599',
 '1,533',
 '239',
 '157',
 '181',
 '1,415',
 '271',
 '186',
 '179',
 '1,533',
 '225',
 '399',
 '200',
 '999',
 '299',
 '225',
 '639',
 '1,415',
 '696',
 '309',
 '299',
 '799',
 '146',
 '203',
 '180',
 '549',
 '165',
 '230',
 '238',
 '999',
 '245',
 '190',
 '202',
 '999']

In [44]:
#price of the prodct
p2=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(p2)
price2=[]
for i in p2:
    price2.append(i.text)
    
price2

['202',
 '259',
 '349',
 '664',
 '207',
 '276',
 '149',
 '200',
 '180',
 '196',
 '449',
 '799',
 '259',
 '359',
 '199',
 '249',
 '291',
 '269',
 '242',
 '225',
 '209',
 '360',
 '276',
 '225',
 '180',
 '299',
 '639',
 '349',
 '199',
 '232',
 '359',
 '299',
 '549',
 '189',
 '156',
 '1,533',
 '289',
 '249',
 '348',
 '1,533']

In [45]:
#price of the prodct
p3=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(p3)
price3=[]
for i in p3:
    price3.append(i.text)
    
price3=price3[0:20]

price3

['449',
 '197',
 '199',
 '200',
 '289',
 '233',
 '152',
 '799',
 '189',
 '499',
 '183',
 '249',
 '689',
 '198',
 '204',
 '225',
 '167',
 '235',
 '664',
 '225']

In [46]:
prices=price1+price2+price3
len(prices)

100

In [47]:
#discount on product in %
disc_prnct=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disc_prnct)

40

In [48]:
discount_percent1=[]

for i in disc_prnct:
    discount_percent1.append(i.text)
    
discount_percent1

['60% off',
 '60% off',
 '90% off',
 '81% off',
 '90% off',
 '85% off',
 '88% off',
 '86% off',
 '25% off',
 '87% off',
 '81% off',
 '43% off',
 '84% off',
 '81% off',
 '88% off',
 '50% off',
 '85% off',
 '87% off',
 '80% off',
 '26% off',
 '85% off',
 '87% off',
 '20% off',
 '81% off',
 '85% off',
 '22% off',
 '84% off',
 '50% off',
 '85% off',
 '86% off',
 '66% off',
 '38% off',
 '72% off',
 '70% off',
 '84% off',
 '50% off',
 '88% off',
 '81% off',
 '81% off',
 '60% off']

In [52]:
#discount on product in %
disc_prnct=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disc_prnct)

discount_percent2=[]

for i in disc_prnct:
    discount_percent2.append(i.text)
    
discount_percent2

['79% off',
 '83% off',
 '76% off',
 '89% off',
 '85% off',
 '80% off',
 '77% off',
 '86% off',
 '81% off',
 '60% off',
 '71% off',
 '38% off',
 '88% off',
 '81% off',
 '90% off',
 '88% off',
 '83% off',
 '88% off',
 '86% off',
 '41% off',
 '77% off',
 '82% off',
 '76% off',
 '74% off',
 '84% off',
 '26% off',
 '88% off',
 '43% off',
 '20% off',
 '85% off',
 '84% off',
 '47% off',
 '87% off',
 '70% off',
 '87% off',
 '72% off',
 '80% off',
 '84% off',
 '69% off',
 '50% off']

In [54]:
#discount on product in %
disc_prnct=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(disc_prnct)

discount_percent3=[]

for i in disc_prnct:
    discount_percent3.append(i.text)
    
discount_percent3=discount_percent3[0:20]
discount_percent3

['85% off',
 '77% off',
 '18% off',
 '60% off',
 '88% off',
 '75% off',
 '23% off',
 '80% off',
 '88% off',
 '80% off',
 '88% off',
 '26% off',
 '79% off',
 '87% off',
 '87% off',
 '38% off',
 '66% off',
 '79% off',
 '88% off',
 '41% off']

In [56]:
discount=discount_percent1+discount_percent2+discount_percent3
len(discount)

100

In [64]:
import pandas as pd
flipkart_data=pd.DataFrame({'products_name':names,'description':description,'prices':prices,'discount':discount})
flipkart_data

,products_name,description,prices,discount
0,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",799,60% off
1,VILLAIN,"by Lenskart Polarized, UV Protection Wayfarer ...","1,533",60% off
2,Elligator,UV Protection Round Sunglasses (54),248,90% off
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",243,81% off
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",165,90% off
...,...,...,...,...
95,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...",225,38% off
96,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (54),167,66% off
97,Fastrack,"UV Protection, Gradient Rectangular Sunglasses...",235,79% off
98,New Specs,UV Protection Aviator Sunglasses (54),664,88% off
99,ROYAL SON,"by Lenskart Polarized, UV Protection Aviator S...",225,41% off

# 5)Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [3]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace"
driver.get(url)

In [4]:
#click on ratings
click_ratings=driver.find_element_by_xpath('//span[@class="_2_R_DZ"]')

In [6]:
click_ratings.click()

In [8]:
#rating
ratings1=

In [18]:
r1=[]

for i in ratings1:
    r1.append(i.text)
    
r1

['5', '5', '5', '5', '5', '5', '5', '4', '5', '5']

In [20]:
ratings2=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')

r2=[]

for i in ratings2:
    r2.append(i.text)
    
r2

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [14]:
rating3=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')

In [15]:
len(rating3)

10

In [16]:
r3=[]
for i in rating3:
    r3.append(i.text)
    
r3

['5', '4', '5', '5', '5', '5', '4', '1', '5', '5']

In [17]:
rating4=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')

print(len(rating4))

r4=[]
for i in rating4:
    r4.append(i.text)
    
print(r4)

10
['5', '5', '4', '5', '5', '5', '5', '5', '5', '1']

In [18]:
rating5=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')

print(len(rating5))

r5=[]
for i in rating5:
    r5.append(i.text)
    
print(r5)

10
['4', '5', '5', '4', '1', '5', '5', '5', '5', '5']

In [19]:
rating6=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
print(len(rating5))

r6=[]
for i in rating6:
    r6.append(i.text)
    
print(r6)

10
['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [20]:
rating7=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
print(len(rating7))

r7=[]
for i in rating7:
    r7.append(i.text)
    
print(r7)

10
['4', '5', '5', '5', '5', '4', '5', '5', '5', '5']

In [22]:
rating8=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
print(len(rating8))

r8=[]
for i in rating8:
    r8.append(i.text)
    
print(r8)

10
['5', '1', '5', '5', '1', '5', '5', '5', '5', '5']

In [23]:
rating9=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
print(len(rating9))

r9=[]
for i in rating9:
    r9.append(i.text)
    
print(r9)

10
['5', '5', '5', '5', '3', '5', '5', '5', '5', '5']

In [24]:
rating10=driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq" or @class="_3LWZlK _1rdVr6 _1BLPMq"]')
print(len(rating10))

r10=[]
for i in rating10:
    r10.append(i.text)
    
print(r10)

10
['5', '5', '5', '5', '1', '5', '5', '5', '5', '5']

In [26]:
#review summary
revw1=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw1))
rw1=[]
for i in revw1:
    rw1.append(i.text)
    
rw1

10

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Great product',
 'Good choice',
 'Highly recommended',
 'Worth every penny']

In [27]:
revw2=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw2))
rw2=[]
for i in revw2:
    rw2.append(i.text)
    
rw2

10

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Classy product',
 'Worth every penny',
 'Worth every penny',
 'Worth every penny',
 'Nice product']

In [28]:
revw3=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw3))
rw3=[]
for i in revw3:
    rw3.append(i.text)
    
rw3

10

['Brilliant',
 'Good choice',
 'Perfect product!',
 'Wonderful',
 'Terrific purchase',
 'Simply awesome',
 'Good quality product',
 'Very poor',
 'Perfect product!',
 'Must buy!']

In [29]:
revw4=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw4))
rw4=[]
for i in revw4:
    rw4.append(i.text)
    
rw4

10

['Must buy!',
 'Great product',
 'Very Good',
 'Wonderful',
 'Classy product',
 'Awesome',
 'Classy product',
 'Awesome',
 'Perfect product!',
 'Very poor']

In [30]:
revw5=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw5))
rw5=[]
for i in revw5:
    rw5.append(i.text)
    
rw5

10

['Value-for-money',
 'Best in the market!',
 'Awesome',
 'Value-for-money',
 'Worthless',
 'Simply awesome',
 'Wonderful',
 'Terrific',
 'Brilliant',
 'Excellent']

In [31]:
revw6=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw6))
rw6=[]
for i in revw6:
    rw6.append(i.text)
    
rw6

10

['Mind-blowing purchase',
 'Wonderful',
 'Perfect product!',
 'Classy product',
 'Awesome',
 'Just wow!',
 'Perfect product!',
 'Worth every penny',
 'Fabulous!',
 'Must buy!']

In [32]:
revw7=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw7))
rw7=[]
for i in revw7:
    rw7.append(i.text)
    
rw7

10

['Good quality product',
 'Super!',
 'Excellent',
 'Classy product',
 'Terrific purchase',
 'Pretty good',
 'Brilliant',
 'Simply awesome',
 'Fabulous!',
 'Terrific purchase']

In [33]:
revw8=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw8))
rw8=[]
for i in revw8:
    rw8.append(i.text)
    
rw8

10

['Just wow!',
 'Absolute rubbish!',
 'Great product',
 'Excellent',
 'Worthless',
 'Mind-blowing purchase',
 'Mind-blowing purchase',
 'Super!',
 'Best in the market!',
 'Excellent']

In [34]:
revw9=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw9))
rw9=[]
for i in revw9:
    rw9.append(i.text)
    
rw9

10

['Wonderful',
 'Awesome',
 'Perfect product!',
 'Terrific purchase',
 'Does the job',
 'Just wow!',
 'Terrific purchase',
 'Worth every penny',
 'Great product',
 'Mind-blowing purchase']

In [35]:
revw10=driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
print(len(revw10))
rw10=[]
for i in revw10:
    rw10.append(i.text)
    
rw10

10

['Highly recommended',
 'Excellent',
 'Fabulous!',
 'Excellent',
 'Waste of money!',
 'Terrific',
 'Highly recommended',
 'Must buy!',
 'Must buy!',
 'Excellent']

In [48]:
#full review
f_rw1=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw1))

f_r1=[]
for i in f_rw1:
    f_r1.append(i.text.replace('\n',' '))
    
f_r1

10

['The Best Phone for the Money  The iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.  Compelling ultra-wide camera New Night mode is excellent Long battery life',
 'Really satisfied with the Product I received... Its totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7. Pros -Camera top class - Battery top performed -Chipset no need to say as apple kind -Security as you expect from apple - Display super bright industry leading colour accuracy and super responsive -Build quality as expect from apple sturdy premium durable beautiful stylish. -Os most stable os in smartphone industry  Cons -No 5G -Display is not based on OLED technology -Charger headphones and 1 apple stic... READ MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'Previously I was using one plus 3t it was a great phone And then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11 I have seen the specs and everything were good except the display its somewhere between 720-1080 and its not even an amoled its an LCD display But I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red My experience after using 3 weeks 1. The delivery ... READ MORE',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Amazing Powerful and Durable Gadget.  Im am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.  I shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.  Dont think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.  Ive attached my puppy pics and no fi... READ MORE',
 'So far its been an AMAZING experience coming back to iOS after nearly a decade but its not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd its just wow',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [50]:
f_rw2=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw2))

f_r2=[]
for i in f_rw2:
    f_r2.append(i.text.replace('\n',' '))
    
f_r2

10

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment. If you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you. Cameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'Its a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise its amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with... READ MORE',
 'Value for money Its awesome mobile phone in the world ... Display was very good and bright .. Trust me freinds you r never regret after Buying.. Just go for it.... I love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation  I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.  This phone not only for good quality photography but a lot of other task too.",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Totally in love with this  the camera quality is amazing just love it  itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever  thanku apple ',
 'Best budget Iphone till date  go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.  Camera: at this price range there is no comparison of camera, youll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy   Battery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba... READ MORE',
 'Its been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g Cant move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I dont get the option to charge Camera is superb. Front cam selfies and back cam photos are just awesome. ... READ MORE',
 'Smooth like butter, camera like fantabulous, sound is crystal clear & its red color is damn attractive, i am just loving it. Must buy if you love photography.  Lucky to get it in sale, thank you Flipkart.',
 'Awesome Phone. Slightly high price but worth. Better than iPhone XR. Camera is superb and wide angle camera is very clear. 12MP selfie camera is also very good. A13 Chip gives a very good and smooth performance.']

In [51]:
f_rw3=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw3))

f_r3=[]
for i in f_rw3:
    f_r3.append(i.text.replace('\n',' '))
    
f_r3

10

['I have migrated from OP 7pro... and trust me, iPhone 11 is totally worth it.. following are the reasons:- 1)there is ABSOLUTELY NO ISSUE WITH THE DISPLAY... its crisp, sharp and I found it to be much much better than OP7 pro. Netflix, Prime video all run crisply... you wont miss a thing. True Tone works flawlessly...the display brightness is perfect. OP have not calibrated their screens properly. 2) iPhone 11 series have really good cameras... others have spoken in depth about them. 3) bat... READ MORE',
 'Looking so good   super  stylish  phone Clean box  good  delivery  fast delivery Original box Original iphone   ',
 'After 1 month use I found camera quality best compared to my previous Samsung note 10+.Display not good as note 10 also charging too slow.Apple should add fast charger like 11 plus and pro.Best phone for daily use',
 'I just directly switch from iphone 6s to iphone 11 .The best premium smartphone I recommend to everyone. Excellent quality and colors the iphone have in 11 series. Camera quality is just awesome and the major feel when we hold in our hands. The sound quality and volume is also higher then the previous models. I will recommend to buy iphone 11 instead of pro models , there is nothing much difference as this model contains everything which fulfill our needs.  Only one thing that I dislike abo... READ MORE',
 'The built quality is not very premium. The battery back is great . The LCD panel is not so sharp but the brightness level is very High . Camera is super duper awesome. The red colour which people think is bright is actually very soothing and excellent colour to choose from . The A13 Bionic chip is really a flagship processor and can beat any phone which even has 12 gb ram . Camera module is very great and looks very stylish.',
 'Really good actually this is my first apple product am using its really awesome performance wise excellent. Am really happy with this iphone11',
 'it is very good at performance. Camera is best like before and very smooth response even in water. Dont buy 12 mini buy iPhone 11 , it is far better than 12 mini believe me ! Have a nice day \uf8ff ',
 'Reviewing again after 5 months. At the beginning the battery and performance was good but it degraded soon. Also I was facing heating issues. The mobile will heat up like a stove sometimes. You cannot even play Pubg even in low settings properly, performance is not a problem but heating is. Also if you play that game for 10 mins the brightness will be automatically down due to over heating even when the auto brightness is set to off. This will not be solved even if u manually increase the bri... READ MORE',
 'It is just awesome mobile for this price from Apple,  After 10 days review  Battery enough for 1 day even 24*7 Internet will be on and mostly internet usage  Camera is just awesome cool , android 64 MP is equal to this just 12 MP  A13 Bionic chip will give more high performance without hanging  Audio stereo speakers will give Dolby atoms sound with crystal clear  Video recording is like cinematic shots of every sec can be a 4K 60fps. Just awesome this phone iPhone 11 loved one',
 'Best Apple iPhone that i have bought at a very reasonable price, camera quality is next level just awesome n of superior quality android phones not even close(RIP) to that and also battery is really good but packaging by Flipkart of iPhone was very poor of such a expensive product, firstly im bit worried about the quality of product if i purchased it through online how was the product but i think now this was mine best decision to bought it through Flipkart online because i got genuine Apple... READ MORE']

In [52]:
f_rw4=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw4))

f_r4=[]
for i in f_rw4:
    f_r4.append(i.text.replace('\n',' '))
    
f_r4

10

['I rate this product 5* as it has got amazing user experience with the best performing A13 bionic processor. The screen responds and graphics rendering is top notch. With casual gaming and internet browsing, the battery lasts for approx. 1 day. Camera is very good. You will fall in love with the portrait mode. You can call me a loyal Apple customer or whatever but I wont stop praising the products and overall experience. That user experience matters and is worth every penny you pay.  Below ar... READ MORE',
 "Again back to apple iphone after a gap of 2-3 years. It's pleasure to use iOS and the quality product by Apple. Iphone 11 still works like a beast in 2021 also. It really capable of doing day to day usage as well as hard core gaming. Battery is awesome. I'm really too much satisfied with it. Apart fto the very gorgious IPS LCD (AMOLED will be better) everything is mind boggling. Iphone.",
 'impressive super phone and best in class camera ,sound and face unlock is super fast just see and phone is unlock and fast in daily apps use',
 'Super and marvellous phone look very cute and nice sound. I love this phone i think white is good colur.Excellent camer 5*',
 'Well while switching from android to iOS the first thing you need to be careful about is that you will loose all your whatsapp chat backups as both are different operating systems. Camera clarity is awesome and though being an lcd screen clarity and resolution is good. Battery backup is also good unlike previous gen iPhone. So far the experience is good will Padre after a few months of usage.  P.S the black is more of a dark grey shade and not jet black',
 'Very excited to have this phone. This phone has the real power unlike the android phones having SD 855 . The battery life is very good and the camera quality is excellent as comapred to redmi and other phones except google pixel. I M enjoying every single bit of it. Would recommed only if you have the budget.',
 'Best and amazing product.....phone looks so premium.... battary is also good as expected .... Wide angle camera is so addictive ...if you are a IOS lover....then this phone will be the best choice for you all!!',
 'Always love the apple products, upgraded from old iPhone 6S plus to this after having my first baby. I just love to click babys photos with it. Overall I just love this phone. Battery back up is okay, sound quality is good. Havent tested yet waterproof yet. Only one thing I hate is apple could have given charger & headphones in box.',
 'Value for money 5 star rating Excellent camera Battery backup full day in single charge.  Tougher and water resistant design, glossy back. The screen has excellent brightness and contrast. Apple A13 Bionic is the fastest smartphone chip on the planet. Excellent battery life, fast charging support. Stereo speakers with great quality.',
 'Please DONT buy from here,  I purchased Apple iPhone 11. with an exchange of IPhone 7, the exchange did not go well, iPhone 7 had a small scratch out side screen which i could never identify till date, but the FLIPKART person could, so he reduced 50% from exchange rate. I decided not to trade in, but paid money.  iPhone 11 Detail Below --------------------------------------------- It came with no charging, then i have put for charging, it took lot of time for charging, the phone also showe... READ MORE']

In [53]:
f_rw5=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw5))

f_r5=[]
for i in f_rw5:
    f_r5.append(i.text.replace('\n',' '))
    
f_r5

10

["Just got this iphone 11 And it is most powerful mobile phone I have used ever  So,go for it if you want a phone with best specification like camera,battery backup,display, A13 bionic chip  That's my review about this phone but yours can be differ from me....",
 'Damn this phone is a blast . Upgraded from android to ios and is a duperb experience. Battery backup is top notch and display also pretty good',
 'I dreamt about this day from a long time.... Getting an iPhone with my own money.... Super happy and worth spending every penny',
 "I'm Really happy with the product Delivery was fast as well ..it was a gift for my sister and she loved it so much.",
 "Phone is awesome no doubt. But Camera & Display is not great. Performance is mind blowing. But the phone is heating too much when charging or when you regularly used. It's experience after using 1 week. It's heating extrem when I play PUBG for 30 minutes. Go for iPhone 11 pro or 12. Otherwise go for Android phone you will get much better phone in less price.",
 'Excellent camera, good performance, no lag. The lcd display is also good.. but difference come when we watch movie in prime and Netflix, the colours are not vibrant.. as we see in amoled display.. and the charger in box is of 5 watts.. takes more than 3 hours to charge from 0 to 100.. so guys be prepare to buy 18 watts charger . Finally I am an android user, it was my first Iapple phone, I promise u guys the iOS is so smooth.. overall the phone is damn good.... close eyes to buy it.. thanks t... READ MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. Its worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is its camera and its battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And cant forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Really worth of money. i just love it. It is the best phone ever.',
 'Amazing phone and on great deal I received with super fast delivery by Flipkart...',
 'Awesome...']

In [54]:
f_rw6=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw6))

f_r6=[]
for i in f_rw6:
    f_r6.append(i.text.replace('\n',' '))
    
f_r6

10

['Best Quality Product OF iPhone Series , Sound Quality & Camera quality is very awesome, Battery Life is very Sufficient for 24 hr Backup With Full Internet Access , I love this this Product too much , It is very fast & making me Very fast in all my daily Routine Highlights; 1.Camera: 5 STAR 2.Video Recording: 5 star 3.Night mODE sHOOTING & Camera:4 star 4. Audio Quality: Awesome 5. Battery : 5 Star 6. Touch:5 Star 7. Processor: Very Fast The M... READ MORE',
 'Finally purchased iphone 11 instead of XR and its awesome decision',
 'Battery backup is extraordinary, camera is decent & performance offered by A13 bionic is awsome. The display is good in practical usage like the visibility of display is very good in direct sun light compare to pro models. Iam extremely satisfied for the money I spent.',
 'Superb Product !!! A big and worthy upgrade from mi 3S to iphone 11 . Totally loved it !',
 'I am using this phone for 5 days and its one of the best camera out there  the screen is not oled and i am coming from iphone xs so its little bit not up to the mark i would say But overall value for moneythe battery back up is far better than my iphone xs and its worth in my apple ecosystemif u are an apple User and have the eco system then go for itthough i will be getting the new iphone but its pretty good',
 'Camera battery and its overall performance is good',
 'Awesome purchase. Amazing phone with good battery backup. Its a top notch device. White colour looks amazing. Phone has a few extra feature than iPhone XR. Overall, this is value for money',
 'Here is the thing  The only reason why you should buy this phone is for the camera, iOS, and if you have headaches looking at AMOLED display.  Im not an avid gamer but watch a lot of movies on smartphone. However, my migraine attacks increased considerably after using AMOLED Smartphone. Thats why I made a calculated decision to buy iPhone 11. It has the best LCD display and the blacks, though not as natural as an AMOLED, is better than some of the other smartphones.  Adding to this the ste... READ MORE',
 'awesome phone to have. it has got many smart features apart from mind blowing looks, camera, display, battery and sound. have fallen in love with this phone. must buy phone if you have got enough money. thanks to flipkart and apple of course..',
 'Its an amazing product from apple and the camera is simply superb. Phone is faster.Night shot is simply superb and detailing and colour differentiation from camera is an added advantage  This review I have written from iPhone 11 only and I am glad to say outside.  Cons wise if we see HD+ display only, no battery percentage indicator as in older iPhone 8. No assistive touch control button in it No oleophobic coating on back panel glass and finger prints are visible but since I bought mint gr... READ MORE']

In [55]:
f_rw7=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw7))

f_r7=[]
for i in f_rw7:
    f_r7.append(i.text.replace('\n',' '))
    
f_r7

10

["I'm switching this phone to oppo reno 10x zoom It's really impressive Rarely I'm missing smooth display touch response like oppo reno but I really loved it. Camera really impressive",
 'Did an upgrade from 6s plus to iphone 11. Ao far the experience is well and good. Felt smoother than 6s plus. The camera quality is superb. Battery backup is descent. Not a heavy user, and gets power more than a day. Go for it if you need an alrounder iphone in a competitve price.',
 'Its a fabulous mobile look awesome performance unbeaten camera like dslr battery good i think this is a beast of mobile',
 'We are on apple ecosystem for almost eight years now with couple of iPads and iPhones, including Xr.  Bought iPhone 11 as a gift to my daughter who loves it. We chose for a purple coloured one. Believe me it is gorgeous and towards the lighter shade. Dazzling and brilliant!  The phone is great and does excellent RAM management like any other Apple device.  The screen, though a LCD and lesser ppi as compared to other flagship phones of competitor brands, is a delight to watch with perfect re... READ MORE',
 'Upgraded from iphone 6 to 11 best phone for iphone users battery is much better than other iphones camera is awesome love to use it.camera is so clear in night.',
 'I was using Iphone 6s and also Oneplus 6t. Both mobiles were perfectly alright in Photos, gaming, and smooth interface . My 6s mobile getting battery issue. thought upgrade to 11. Really like this mobile of its Internal storage (compare to 6s) , camera and its touch feeling. Its a worth buying mobile for me.',
 'Excellent camera and display touching very nice and smooth very improvement against iPhone XR and new processor is very fast',
 "It's very high performances devise i am like the service of flipkart delevary very fast and packing very nice perfect phone",
 "I can say I'm damn impressed with iPhone 11. As they says iPhone 11 have the toughest glass ever in the smartphone which you'll find on the front and back and it's totally smooth. The fit and finish is full apple quality - there's no sense that any cheaping out has happened in the construction. Without saying it's camera features this review won't complete. The iPhone 11 has a dual camera system, consisting of a wide angle len's that's pretty much same as found on the iPhone XR last year, but... READ MORE",
 'No word to say ..simply Awesome. Love it']

In [56]:
f_rw8=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw8))

f_r8=[]
for i in f_rw8:
    f_r8.append(i.text.replace('\n',' '))
    
f_r8

10

['Best in class. Battery backup is good especially when you play games like Pubg COD. But it is sort of heavy when you hold in hands. Portrait mode is best to click pictures. Stage light effect is awesome. Try to click photos outside in nature because photos inside home or room will not give you the quality in any phone even in DSLR.',
 'Products damage',
 'Well you all know the specifications . One of a kind. Best iPhone till date. Many enhancements to the camera app with many options. Love the glass body with matte finish in the lens area on the back. Lovely colours to choose from. Best battery in an iPhone till date, enough to last more than a day in normal usage. I tested my iPhone 11 battery and lasted for than 24 hours after full charge still with 30% battery charge left. Watched movies for some time. Normal usage on calls, browsing, musi... READ MORE',
 'A perfect phone and a good battery super camera and the sound is dynamic overall the phone is perfect for upgrading from lower iPhone model to iPhone 11',
 'New Phone worked for 2 weeks. After it gone dead without any reason and unfortunately lockdown hence at repair center for last 2 weeks. There were a exchange offer for old phone but they deducted amount saying one scratch on edge of old phone, infact any phone if u use for 1 month, if u use ring on ur finger it will come. It was not at all visible. The display, battery, performance for the old phone was perfect, still they deducted. With this experience i suggest you to buy phones from author... READ MORE',
 'First thanks to Flipkart for this amazing deal and phone is outstanding. I upgraded from iPhone 7 and this is like very big upgrade. But the packaging was very basic I expected a good packaging as they only wrapped one layer of bubble wrap which I dont think is enough to protect this expensive phone. And I recommend this phone and seller as well.  And Im posting this review after using it for 4 days.',
 'This will help you more. See if you are planning to buy iPhone 11. I will say. Yes. But there are some plans I just want to disclose before you buy. 1) If you are an existing iPhone X/XS/XS Max/ XR user, better you guys do not think it to buy. You guys have more or less better gadget. 2) If you are an android user and planning to buy premium phone. I will suggest them to please buy iPhone instead of buying an Android. I bet you will never go back to android after using IOS. Now I want to shar... READ MORE',
 'This is my first ever iPhone. And I truly dont regret switching to IOS from my Android.  It is easily an alternative to a DSLR camera. If youre obsessed with photos and videos, just dont think twice or dont compare to other androids(Samsung S10 lite or OnePlus 8/8T), as its far better from them in every field. Comparing will only make you confused.  I am getting an average Screen on Time of around 10 hours with 30 percent left. I havent let my device discharged below 30 % as it aff... READ MORE',
 "The best all rounder iphone. Flipkart is doing a great job. They're delivery services are blazing fast. I got delivery on the same day. Genuine Apple Product. Working great. Talking about review There's no need of review for iphones. They're simply the best.",
 'Amazing camera and feel super machine I am not describe my feeling but this is amazing Phone I am so lucky I have this']

In [57]:
f_rw9=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw9))

f_r9=[]
for i in f_rw9:
    f_r9.append(i.text.replace('\n',' '))
    
f_r9

10

['Superfast delivery by Flipkart. Thanks.  1. iPhone 11 is a pretty solid phone for the money you are paying. 2. All the bad reviews about the display is confusing. Its not that bad. 3. I switched from a Oneplus 7t. I have no complaints about the display quality of iPhone. Yes, its not OLED, so, we are missing on the deep blacks. But thats it. It is a very colour accurate display. Gets adequately bright and I could not find any pixelation. 4. Performance is one of the best, if not best, in ... READ MORE',
 'Cant beat the software and hardware integration of apple. Performs like a beast. Great quality camera 6-7 hours screen on time which is good. Nothing much to complaint about the screen. Good connectivity speeds. Great buy and Flipkarts delivery top notch as usual',
 'Worth the money starting first from its performance it beats out all phones , second the smoothness of camera is awesome, contrast ratio is much than expected. Price will not matter if u r a quality person, if not other phones are available with better discount',
 'Its Very awesome product working and good camera quality and all about best product and also flipkart is very great deal and offer nice price',
 "phone is good but in display is 720p lcd in this price range we can get full hd OLED displays with higher refresh rate processor is very good camera is nice but looks kind of oldish in front of todays phone also there's no charging in box had to buy it seperately",
 'Great iphone. I am writing this review after 2 months of usage. Camera is excellent, especially the nightmode Display perfect Battery backup awesome Sound quality very good Overall Apple gives you a perfect iphone in this range. Really in love with iPhone 11',
 'finally an iPhone with very nice battery backup. update from iPhone 7 and happy to have it. camera is not up to the mark in low light but overall a recommended phone if your budget allows ',
 'iPhone is delivered on time. Display is great u wont feel that its a hd panel. Quality is excellent. Sounds is great it has stereo setup. Camera is good. iOS 14.2 comes in the box. U roughly get 113 gb free if u buy 128 gb. This is my second iPhone and i love it. Value for money.',
 'my 1st iphone,iphone 11 and xr also good in that price u can choose between this two phones.. am talking about frount camera its too good compared to androids phone',
 'beautiful shining, battery performance is too good. only the draw back is my expectations not meeted front cam but back cam is superb.']

In [58]:
f_rw10=driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
print(len(f_rw10))

f_r10=[]
for i in f_rw10:
    f_r10.append(i.text.replace('\n',' '))
    
f_r10

10

['Iphone11 (4/64)GB Green color',
 'I loved the Phone.. Every time I pick up the phone it makes me happy... The phone is beast and the camera is fabulous .. I think one of my great purchase from Flipkart.. Thank you Filpkart..',
 'Gift this to your loved ones fabulous product and amazing super fast delivery by flipkart',
 'Whoever has my kidney, May God Bless You!!!',
 'Mobile is not getting charge.Mobile cannot be stated',
 "I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.  As for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.  The battery runs for a day with medium and high workload.  The display is good and the speakers are working fine.  The earphones doesn't have any base and you can use it for calling mostly.  The charging time is approximately for 90 minutes for full charging... READ MORE",
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best Ive ever had. Sound quality of speakers is more than sufficient. Apple is known for its customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.  The most amazing thing it the delivery. Flipkart has delivered it in the span ... READ MORE',
 'Dear friends... I want to share my experience with you about this amazing I phone 11....this is my first iPhone and special things about this mobile is it has great camera, battery backup and awesome display.... I mean everything is perfect.loved it ',
 "Camera is excellent just lack of telephoto mode frankly dose not needed either night mode is just  12 12 12 mp (2back 1 front) camera lover just don't miss the deal Display lcd but feel like super amoled At46999 with no cost EMI just a best deal",
 "It was amazing experience for me. Honestly i am using iPhone first time so I don't have that much past experience about that. But after using 7 days this mobile i want to give some honest feedback. 1- Display 9 out of 10 2- Camera 9.5 out of 10 3- Battery 7 out of 10 4- Performance 9.5 out of 10 5- Features & Functions 10 out of 10 6- Outer looks and colour 10 out of 10 Rest i think i will understand after using this for few months. I will highly recommend you guys if you have budget then you... READ MORE"]

# 6)scrape data for first 100 sneakers from flipkart.com

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [3]:
url='https://www.flipkart.com/'
driver.get(url)

In [4]:
search_text=driver.find_element_by_class_name("_3704LK")
search_text

In [16]:
search_text.send_keys('sneakers')

In [17]:
search_btn=driver.find_element_by_xpath('//button[@class="L0Z3Pu"]')
search_btn

In [18]:
search_btn.click()

In [57]:
#find element by of rates
rate=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(rate)

40

In [58]:
R1=[]
for i in rate:
    R1.append(i.text)
    
R1[0]

'649'

In [59]:
rate=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(rate))

R2=[]
for i in rate:
    R2.append(i.text)
    
R2[0]

40

'399'

In [60]:
rate=driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
print(len(rate))

R3=[]
for i in rate:
    R3.append(i.text)
    
r3=R3[0:20]

print(len(r3))

40
20

In [29]:
Rates=R1+R2+r3
len(Rates)

100

In [36]:
#names of the product
name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(name))

n1=[]
for i in name:
    n1.append(i.text)
n1[0]

40

'PUMA'

In [34]:
#names of the product
name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(name))

n2=[]
for i in name:
    n2.append(i.text)
n2[0]

40

'aadi'

In [37]:
#names of the product
name=driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
print(len(name))

n3=[]
for i in name:
    n3.append(i.text)
print(n3[0])

N3=n3[0:20]

40
Robbie jones

In [38]:
Names=n1+n2+N3
len(Names)

100

In [40]:
#discount%
discnt=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(discnt))

D1=[]

for i in discnt:
    D1.append(i.text)
    
D1[0]

39

'54% off'

In [52]:
#discount%
discnt=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(discnt))

D2=[]

for i in discnt:
    D2.append(i.text)
    
D2[0]

40

'81% off'

In [54]:
#discount%
discnt=driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
print(len(discnt))

D3=[]

for i in discnt:
    D3.append(i.text)
    
d3=D3[0:21]
d3

38

['73% off',
 '77% off',
 '59% off',
 '38% off',
 '54% off',
 '40% off',
 '50% off',
 '43% off',
 '48% off',
 '61% off',
 '45% off',
 '50% off',
 '78% off',
 '42% off',
 '60% off',
 '75% off',
 '75% off',
 '87% off',
 '33% off',
 '56% off',
 '52% off']

In [55]:
discounts=D1+D2+d3

len(discounts)

100

In [42]:
descrptn=driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
print(len(descrptn))

Desptn1=[]

for i in descrptn:
    Desptn1.append(i.text)
    
Desptn1[0]

40

'Puma Smash v2 Buck Sneakers For Men'

In [47]:
descrptn=driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
print(len(descrptn))

Desptn2=[]

for i in descrptn:
    Desptn2.append(i.text)
    
Desptn2[0]

40

'Modern & Trendy Collection Combo Pack of 02 Shoes for M...'

In [50]:
descrptn=driver.find_elements_by_xpath('//a[@class="IRpwTa" or @class="IRpwTa _2-ICcC"]')
print(len(descrptn))

Desptn3=[]

for i in descrptn:
    Desptn3.append(i.text)
    
dsr3=Desptn3[0:20]

dsr3

40

['Sneakers For Men',
 'CUBIC_1 Sneakers For Men',
 'Comfortable & Smart Sneakers For Men',
 'Men Blue Solid Sneakers Sneakers For Men',
 'Casual Sneakers Black Shoes For Men Sneakers For Men',
 'Trendy Casual Shoes Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'Smash v2 L White- Black Sneakers For Men',
 'Sneakers Shoes For Men Black Sneakers For Men',
 'Casual Sneakrs For Men Sneakers For Men',
 'Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Anzarun Grid Sneakers For Men',
 'casual sneakers, loafers,walking and running shoes For ...',
 'Roadster Men Grey Solid Suede Finish Sneakers Sneakers ...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Sneakers For Men',
 'Men White Solid Sneakers Sneakers For Men']

In [51]:
#product name description
dsr=Desptn1+Desptn2+dsr3
len(dsr)

100

# 7)scraping the data of 100 products price between Rs 7149 to Rs 14099 on  https://www.myntra.com/shoes

In [3]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [4]:
url='https://www.myntra.com/shoes'
driver.get(url)

In [5]:
#find element forfilter price
check_bx=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
check_bx

In [6]:
check_bx.click()

In [7]:
#find element for filter color
color=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
color

In [9]:
color.click()

In [10]:
#brand of the shoe
brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
print(len(brand))

brand1=[]
for i in brand:
    brand1.append(i.text)
brand1[0]

50

'Nike'

In [11]:
#brand of the shoe
brand=driver.find_elements_by_xpath('//h3[@class="product-brand"]')
print(len(brand))

brand2=[]
for i in brand:
    brand2.append(i.text)

brand2[0]

50

'Geox'

In [14]:
#Brand Name
Brand_name=brand1+brand2
len(Brand_name)

100

In [12]:
#short description of the shoe
shrt_descrpt=driver.find_elements_by_xpath('//h4[@class="product-product"]')
print(len(shrt_descrpt))

shrt_descrpt1=[]

for i in shrt_descrpt:
    shrt_descrpt1.append(i.text)
    
shrt_descrpt1[0]

50

'Men AIR ZOOM PEGASUS 38'

In [13]:
#short description of the shoe
shrt_descrpt=driver.find_elements_by_xpath('//h4[@class="product-product"]')
print(len(shrt_descrpt))

shrt_descrpt2=[]

for i in shrt_descrpt:
    shrt_descrpt2.append(i.text)
    
shrt_descrpt2[0]

50

'Women Leather Loafers'

In [15]:
#short description
short_description=shrt_descrpt1+shrt_descrpt2
len(short_description)

100

In [22]:
#rate
rate=driver.find_elements_by_xpath('//div [@class="product-price" or @class="product-discountedPrice" ]')
print(len(rate))

Rate=[]

for i in rate:
    Rate.append(i.text)
    
Rate[0]

50

'Rs. 10920Rs. 11495(5% OFF)'

In [23]:
#rate
rate=driver.find_elements_by_xpath('//div [@class="product-price" or @class="product-discountedPrice" ]')
print(len(rate))

Rate2=[]

for i in rate:
    Rate2.append(i.text)
    
Rate2[0]

50

'Rs. 7999'

In [24]:
#Rates
Rates=Rate+Rate2
len(Rates)

100

# 8)scraping data (price, title and ratings) of laptops at amazon (intel core i7 and intel core i9)

In [2]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [3]:
url='https://www.amazon.in/'
driver.get(url)

In [4]:
#find element for search box
search_bx=driver.find_element_by_xpath('//input[@class="nav-input nav-progressive-attribute"]')
search_bx

In [5]:
search_bx.send_keys('Laptop')

In [6]:
#element for serch button
search_btn=driver.find_element_by_xpath('//span[@class="nav-search-submit-text nav-sprite nav-progressive-attribute"]')

In [7]:
search_btn.click()

In [108]:
#intel check box
checkbox_manftr=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[1]/li[3]/span/a/div/label/i')
checkbox_manftr

In [109]:
checkbox_manftr.click()

In [113]:
#intel core i7
i7=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[3]/li[4]/span/a/div/label/i')
i7

In [114]:
i7.click()

In [115]:
#title of laptop
title=driver.find_elements_by_xpath('//span[@class="a-size-medium a-color-base a-text-normal"]')
print(len(title))

title_i7=[]

for i in title:
    title_i7.append(i.text)
    
title1=title_i7[0:10]

title1

30

['Fujitsu UH-X 11th Gen Intel i7 Core 13.3 (33.78cm) FHD IPS 400Nits Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1F38024',
 'LG Gram 16 inches Intel Evo 11th Gen Core i7 Ultra-Light Laptop (16 GB RAM, 512 GB SSD, New Windows 11 Home Preload, Iris Xe Graphics, USC -C x 2 (with Power), 1.19 kg, 16Z90P-G.AH85A2, Black)',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inches FHD, IPS, Convertible Laptop (16 GB RAM/512GB SSD, B&O/Win 11 Home/Backlit keyboard/FPR/ Alexa-Built in/MS Office/Natural Silver/1.52 Kg) -14-dy1013TU',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HEB-HN248T',
 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14" (35.56cm)QHD IPS Thin & Light Laptop(16GB/512GB SSD/Iris Xe Graphics/3Yr Warranty/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN',
 'MSI Katana GF66 Gaming, Intel i7-11800H, 15.6" FHD IPS-Level 144Hz Panel Laptop (16GB/512GB NVMe SSD/Windows 10 Home/Nvidia RTX3050Ti 4GB GDDR6/Black/2.25Kg), 11UD-476IN',
 'HP Pavilion Gaming 11th Gen Intel Core i7 Processor 39.62 cm(15.6-inch) FHD Gaming Laptop (16GB/512GB SSD/Win 11/NVIDIA RTX 3050 Graphics/MS Office/ Shadow Black & Ultra Violet/2.23 Kg), 15-dk2096TX',
 'ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, RTX 3050 4GB Graphics, Gaming Laptop (8GB/1TB SSD/Windows 10/Gray/2.3 Kg), FX566HCB-HN231T, Eclipse Gray']

In [124]:
#ratings
rating=driver.find_elements_by_xpath('//div[@class="a-row a-size-small"]')
print(len(rating))

ratings=[]

for i in rating:
    ratings.append(i.text)
    
ratings[0:10]

26

['37', '71', '13', '60', '1', '21', '1', '2', '1', '3']

In [120]:
#i7 prices
price=driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
print(len(price))

prices=[]

for i in price:
    prices.append(i.text)
    
prices[0:10]

29

['92,490',
 '90,999',
 '59,990',
 '86,990',
 '83,990',
 '96,990',
 '1,02,900',
 '81,990',
 '98,080',
 '1,39,457']

# 9)scraping data from ambition box for the job role of data scientist
# company name
# no of days ago when job was posted
# company rating

In [20]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [21]:
#find element for job description 
job_dscpr=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input')
job_dscpr

In [22]:
job_dscpr.send_keys('Data Scientist')

In [26]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[1]/div/div/div/button')
search_btn

In [27]:
search_btn.click()

In [28]:
#location
location=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
location

In [29]:
location.send_keys('Noida')

In [32]:
location_click=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
location_click

In [33]:
location_click.click()

In [35]:
#name of the compay
company=driver.find_elements_by_xpath('//p[@class="company body-medium"]')
print(len(company))

company_name=[]

for i in company:
    company_name.append(i.text)
    
company_name

10

['Jubilant Foodworks Limited',
 'HCL Technologies',
 'EY GDS',
 'Tavant Technologies India Pvt. Ltd.',
 'Denave India Pvt Ltd.',
 'EXL Service',
 'CHT Sapiense',
 'Pitney Bowes India Pvt ltd',
 'Zyoin',
 'Ameriprise Financial']

In [46]:
#no of days ago
days_ago=driver.find_elements_by_xpath('//span[@class="body-small-l"]')
print(len(days_ago))

days=[]
for i in days_ago:
    days.append(i.text)
    
days_ago=days[0::2]
days_ago

20

['12d ago',
 '26d ago',
 '27d ago',
 '7d ago',
 '7d ago',
 '20d ago',
 '1d ago',
 '27d ago',
 '5d ago',
 '1mon ago']

In [47]:
#company rating
rating_company=driver.find_elements_by_xpath('//span[@class="body-small"]')
print(len(rating_company))

rating=[]

for i in rating_company:
    rating.append(i.text)
    
rating

10

['3.9', '3.8', '3.7', '4.0', '4.0', '3.8', '3.8', '4.2', '4.1', '4.0']

In [48]:
import pandas as pd
df=pd.DataFrame({'company name':company_name,'posted no of days ago':days_ago,'company_rating':rating})
df

                          company name posted no of days ago company_rating
0           Jubilant Foodworks Limited               12d ago            3.9
1                     HCL Technologies               26d ago            3.8
2                               EY GDS               27d ago            3.7
3  Tavant Technologies India Pvt. Ltd.                7d ago            4.0
4                Denave India Pvt Ltd.                7d ago            4.0
5                          EXL Service               20d ago            3.8
6                         CHT Sapiense                1d ago            3.8
7           Pitney Bowes India Pvt ltd               27d ago            4.2
8                                Zyoin                5d ago            4.1
9                 Ameriprise Financial              1mon ago            4.0

# 10)scrap the salary for data scientist, company name,no of salariesm, average salary,min salary,max salary

In [49]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

In [51]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [76]:
#salaries
sal=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
sal.click()

In [77]:
#job search box
job_searchbx=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
job_searchbx.send_keys('Data Scientist')

In [84]:
#compay name
name=driver.find_elements_by_xpath('//a[@data-v-2bae05f7]')
print(len(name))

names=[]

for i in name:
    names.append(i.text)
    
names

10

['Walmart',
 'Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson']

In [95]:
#salaries
sal=driver.find_elements_by_xpath('//span[@data-v-2bae05f7]')
print(len(sal))

sal1=[]

for i in sal:
    sal1.append(i.text.replace('.',''))
    
sal1=sal1[0::2]
sal1

20

['based on 10 salaries',
 'based on 25 salaries',
 'based on 13 salaries',
 'based on 25 salaries',
 'based on 75 salaries',
 'based on 30 salaries',
 'based on 51 salaries',
 'based on 14 salaries',
 'based on 13 salaries',
 'based on 43 salaries']

In [97]:
#min salary
min_sal=driver.find_elements_by_xpath('//div[@class="value body-medium"]')

print(len(min_sal))

min_sal1=[]

for i in min_sal:
    min_sal1.append(i.text)
    
min_sal1=min_sal1[0::2]
min_sal1

20

[' 17.7L',
 ' 15.0L',
 ' 9.8L',
 ' 11.0L',
 ' 9.5L',
 ' 9.0L',
 ' 8.3L',
 ' 10.0L',
 ' 8.5L',
 ' 5.8L']

In [100]:
#min salary
max_sal=driver.find_elements_by_xpath('//div[@class="value body-medium"]')

print(len(max_sal))

max_sal1=[]

for i in max_sal:
    max_sal1.append(i.text)
    
max_sal1=max_sal1[1::2]
max_sal1

20

[' 35.0L',
 ' 25.5L',
 ' 20.0L',
 ' 21.3L',
 ' 22.0L',
 ' 18.5L',
 ' 20.5L',
 ' 21.0L',
 ' 15.0L',
 ' 24.0L']

In [99]:
#avg salary
avg_sal=driver.find_elements_by_xpath('//p[@class="averageCtc"]')

print(len(avg_sal))

avg_sal1=[]

for i in avg_sal:
    avg_sal1.append(i.text)
    

avg_sal1

10

[' 28.7L',
 ' 20.2L',
 ' 15.5L',
 ' 15.1L',
 ' 15.1L',
 ' 14.2L',
 ' 13.8L',
 ' 12.7L',
 ' 12.4L',
 ' 11.9L']

In [101]:
import pandas as pd 
df=pd.DataFrame({'company name':names,'no of salaries':sal1,'minimum salary':min_sal1,'average salry':avg_sal1,'max salary':max_sal1})
df

,company name,no of salaries,minimum salary,average salry,max salary
0,Walmart,based on 10 salaries,35.0L,28.7L,35.0L
1,Ab Inbev,based on 25 salaries,25.5L,20.2L,25.5L
2,ZS,based on 13 salaries,20.0L,15.5L,20.0L
3,Optum,based on 25 salaries,21.3L,15.1L,21.3L
4,Fractal Analytics,based on 75 salaries,22.0L,15.1L,22.0L
5,Tiger Analytics,based on 30 salaries,18.5L,14.2L,18.5L
6,UnitedHealth,based on 51 salaries,20.5L,13.8L,20.5L
7,Verizon,based on 14 salaries,21.0L,12.7L,21.0L
8,Ganit Business Solutions,based on 13 salaries,15.0L,12.4L,15.0L
9,Ericsson,based on 43 salaries,24.0L,11.9L,24.0L